.footer {
  background-color: #353535;
  padding: $main-padding;
  line-height: 2rem;

  &__logo {
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.2rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0.8rem 0 0 0;
  }

  &__link {
    color: white;
    text-decoration: none;
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 1.2rem;
    margin-right: 0.5rem;

    &__fork {
      margin-left: 0.2rem;
      margin-right: 0.8rem;
    }
  }

  @include cards-breakpoint {
    text-align: center;
  }
}
